<div class="row">
	<div class="posts col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><%= @user.usermane %></h1>
				<p> E-mail: <%= @user.email %></p>
			</div>
			<div class="panel-body">
	           <textarea class="form-control" rows="3"></textarea><br>
	           <button class="btn btn-default" type="submit">Répondre</button>
	        </div>
	    </div>
	</div>
</div>