<% @infos.each do |info| %>
  <div class="panel panel-default">
  <div class="panel-heading"><%= info.title %> by <%= info.user.usermane %></div>
  <div class= "panel-body">
    <%= info.content %>
  </div>
  </div>
<% end %>